@font-face {
    font-family: 'FuturaClassicNormal';
    src: url('FuturaClassicNormal.eot');
    src: url('FuturaClassicNormal.eot?#iefix') format('embedded-opentype'),
        url('FuturaClassicNormal.woff2') format('woff2'),
        url('FuturaClassicNormal.woff') format('woff'),
        url('FuturaClassicNormal.ttf') format('truetype'),
        url('FuturaClassicNormal.svg#FuturaClassicNormal') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

