<!-- Full screen modal -->
<div class="modal fade" id="aboutModalCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  	<div class="modal-content">
  		<div class="modal-left">
		  	<p class="py-2">skymanagement est une agence de management et de consulting. l’agence représente des profils aux domaines d’expression multiples (mannequinat, cinéma, art, musique...) : les talents et les faces. nous leur offrons un cadre serein, propice à leur développement. nous apportons également nos conseils aux institutions et aux marques dans le cadre de leur image et de leur influence. nous les accompagnons par le biais d’une stratégie à 360°.</p>
		  	<p class="py-2">expert in &nbsp; &nbsp; management, consulting, casting, scouting <br> paris, londres, milan, new york</p>
			<p class="py-2">we tell stories diffenrently</p>
			<div class="ext-link py-4">
				<a href="#">CONTACT@SKYMGMT.FR</a>
				<a href="https://instagram.com/skymanagementagency?utm_medium=copy_link">@SKYMANAGEMENT</a>
			</div>
			<div class="asset">
				<p class="py-2">MANAGEMENT</p>
				<p class="py-2">NOS TALENTS SONT UNE IMAGE MAIS AVANT-TOUT UNE PERSONNALITÉ, UN FLOW, UNE ATTITUDE. NOUS LES INVITONS À EXPRIMER LEUR PROPRE IDENTITÉ, CHACUN DANS LEURS DOMAINES D’EXPRESSION. NOUS LES ACCOMPAGNONS À CHAQUE ÉTAPES DE LEUR CARRIÈRE : ACCOMPAGNEMENT JURIDIQUE, DÉVELOPPEMENT ÉDITORIAL, GESTION DE CASTINGS, STRATÉGIE DIGITALE... NOTRE VOLONTÉ, LEUR PERMETTRE D’ÉVOLUER LE PLUS FACILEMENT ET SEREINEMENT POSSIBLE.</p>
				<p class="py-2">CASTING</p>
				<p class="py-2">TOUJOURS À L’AFFÛT DES NOUVEAUX TALENTS DE DEMAIN, NOUS ORGANISONS DES CASTINGS POUR TOUTES FORMES DE PROJETS. NOTRE OBJECTIF, TROUVER LES PROFILS QUI SAURONT INCARNER LE MIEUX L’IMAGE ET LES VALEURS DE NOS CLIENTS. NOUS APPUYONS POUR CELA SUR UNE STRATÉGIE PROSPECTIVE ENRICHIE DE NOTRE EXPÉRIENCE DES RÉSEAUX SOCIAUX.</p>
			</div>
		</div>
		<div class="modal-right">
			<div class="asset">
				<p class="py-2">CONSULTING</p>
				<p class="py-2">NOS TALENTS SONT UNE IMAGE MAIS AVANT-TOUT UNE PERSONNALITÉ, UN FLOW, UNE ATTITUDE. NOUS LES INVITONS À EXPRIMER LEUR PROPRE IDENTITÉ, CHACUN DANS LEURS DOMAINES D’EXPRESSION. NOUS LES ACCOMPAGNONS À CHAQUE ÉTAPES DE LEUR CARRIÈRE : ACCOMPAGNEMENT JURIDIQUE, DÉVELOPPEMENT ÉDITORIAL, GESTION DE CASTINGS, STRATÉGIE DIGITALE... NOTRE VOLONTÉ, LEUR PERMETTRE D’ÉVOLUER LE PLUS FACILEMENT ET SEREINEMENT POSSIBLE.</p>
				<p class="py-2">SCOUTING</p>
				<p class="py-2">SKYMANAGEMENT EST AUSSI SPÉCIALISÉE DANS LA RECHERCHE ET LE PLACEMENT DE MODÈLES. LE «SCOUTING» CONSISTE À TROUVER LES FUTURS VISAGES DES AGENCES DE MANNEQUINS. NOUS SOMMES DONC UN ACTEUR PRIVILÉGIÉ ET STRATÉGIQUE POUR LES AGENCES FRANÇAISES ET INTERNATIONALES. APRÈS LES AVOIR REPERÉS, NOUS ASSURONS LE PLACEMENT, LE SUIVI ET LA PROMOTION DES MANNEQUINS.</p>
			</div>
		</div>
	</div>
  </div>
</div>