.inline-show {
	display: inline-flex;
	font-family: $my-font;
	font-size: 12px;
	text-transform: uppercase;
	margin: 45px 10px;
}

.inline-show img {
	padding: 0 5px;
}

.show-text {
	padding: 100px 0px 0px 200px;
	width: 700px;
	display: grid;
	grid-template-rows: 1fr 6fr 0fr;
}

.contact {
	justify-content: end;
    display: flex;
    margin-right: 30px;
}

.carousel {
	width: 550px;
	max-width: 550px;
    height: 85vh;
    margin: 0 5px;
}

///////// RESPONSIVE //////////

@media screen and (min-width: 720px) and (max-width: 1200px) {


}

@media screen and (max-width: 720px) {
	.show-text {
	    padding: 100px 0px 0px 0px;
	    width: 350px;
	}
}