.inline-show {
	display: inline-flex;
	font-family: $my-font;
	font-size: 12px;
	text-transform: uppercase;
	margin: 45px 10px;
}

.inline-show img {
	padding: 0 5px;
}

.show-text {
	padding: 100px 0px 0px 200px;
	width: 700px;
}

.carousel {
	width: 550px;
	max-width: 550px;
    height: 85vh;
    margin: 0 5px;
}